---
import { CardVariant, GradientColor } from '@contracts'
import AnaCards from '@sections/home/AnaCards.astro'
import Contributors from '@sections/home/Contributors.astro'
import Hero from '@sections/home/Hero.astro'
import Profession from '@sections/home/Profession.astro'
import StudyCases from '@sections/home/StudyCases.astro'
import Thunder from '@sections/home/Thunder.astro'
import UXCorp from '@sections/home/UXCorp.astro'
import Contact from '@sections/sections/Contact.astro'
import Layout from '@layouts/Layout.astro'
import SimpleCard from '@components/Cards/SimpleCard.astro'
import GradientBackground from '@components/GradientBackground.astro'
import ScrollBack from '@components/ScrollBack.astro'
import { t } from 'i18n:astro'
---

<Layout title="UX Ana Rangel">
  <link
    rel="preload"
    href="/svg/notion-maze.svg"
    as="image"
    type="image/svg+xml"
    slot="preload"
  />
  <link
    rel="preload"
    href="/svg/figma-useberry.svg"
    as="image"
    type="image/svg+xml"
    slot="preload"
  />
  <link
    rel="preload"
    href="/img/home/interface-description.avif"
    as="image"
    type="image/avif"
    slot="preload"
  />
  <link
    rel="preload"
    href="/img/home/interface-description.webp"
    as="image"
    type="image/webp"
    slot="preload"
  />

  <main>
    <GradientBackground color={GradientColor.blue} />
    <Hero />
    <div class="container">
      <Profession />

      <article class="uxcorp-projects">
        <AnaCards />
        <UXCorp />
      </article>

      <div
        id={Astro.url.pathname.includes('/en') ? 'projects' : 'proyectos'}
        class="grid-auto-fit"
      >
        <SimpleCard
          cardText={t('project_ripley_title')}
          cardImage="/svg/logo-ripley.svg"
        />

        <SimpleCard
          cardText={t('project_cta')}
          cardImage="/img/home/img-ripley"
          isInverted={true}
          altText={t('project_ripley_title')}
          aspectRatio="512/265"
          variant={CardVariant.secondary}
          url="/banco-ripley"
          hasHover
        />

        <SimpleCard
          cardText={t('project_cta')}
          cardImage="/img/home/img-cencosud"
          altText={t('project_cencosud_title')}
          aspectRatio="512/251"
          variant={CardVariant.tertiary}
          isInverted={true}
          url="/planograma"
          hasHover
        />

        <SimpleCard
          cardText={t('project_cencosud_title')}
          cardImage="/svg/cencosud_logo.svg"
        />
      </div>

      <Thunder />

      <StudyCases />

      <Contact />
    </div>
    <Contributors />
    <ScrollBack />
  </main>
</Layout>

<style>
  .grid-auto-fit {
    max-width: 90%;
    margin: 0 auto;
  }

  .uxcorp-projects {
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
    padding-inline: 1rem;
  }

  @media (width >= 992px) {
    .uxcorp-projects {
      grid-template-columns: 1fr 0.5fr;
      padding-inline: 0rem;
    }
    .grid-auto-fit {
      --min-item-width: 30rem;
      --grid-gap: 2rem;

      margin-inline: auto;
      max-width: 100%;
    }
  }

  main {
    overflow: hidden;
  }

  @media (width >= 992px) {
    main {
      padding-block-start: 4rem;

      & .container {
        max-width: 1280px;
        margin: 0 auto;
      }
    }
  }
</style>
